@import './commons.scss';

.horizontalContainer { 
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
} 

.centeredContainer {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}


.contentcontainer { 
    display: flex;
    flex-direction: column;
    height: 100%;

}

.contentcontainer .top {
    height: $small-container-height;
 }


 .contentcontainer .content {
    flex-grow: 1;  
 }


