
.contentcontainer { 
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;  
}

.contentcontainer .top {
    height: 50px;
 }


 .contentcontainer .content {
    flex-grow: 1;  
 }

 