.headercontainer { 
    height: 50px;
    width : 100vh;
    display: flex;
    flex-direction: row;
     
}

.headercontainer  .left {
     margin: 5px;
    flex-grow: 1; 
 }

 .headercontainer  .rigth {
     line-height: 30px;
     padding-right: 5px;
 }

 

 
 