
.maincontainer { 
    height: 100vh;
    width : 100vh;
    display: flex;
    flex-direction: column;
}

.maincontainer .middle {
    flex-grow: 1; 
    border: black 1px solid;

  }

.maincontainer  .header, .maincontainer  .footer {
  height: 50px;
  border: black 1px solid;
 }
 